<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Flint AI</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="app">

    <!-- Sidebar -->

    <aside class="sidebar">

        <div class="logo">
            🔥 Flint AI
        </div>

        <button class="new-chat" id="new-chat">
            + New Chat
        </button>

        <div id="chat-history" class="history">

            <div class="history-item active">
                Chat 1
            </div>

        </div>

    </aside>

    <!-- Main -->

    <main class="main">

        <header class="header">

            <h2>Gemini AI</h2>

        </header>

        <div id="chat-box" class="chat-box">

            <div class="bot">

                👋 Hello Manas! I'm Flint AI.

                <br><br>

                Ask me anything.

            </div>

        </div>

        <div class="input-area">

            <input
                id="message"
                type="text"
                placeholder="Message Flint AI..."
            >

            <button id="send-btn">

                ➤

            </button>

        </div>

    </main>

</div>

<script src="/static/script.js"></script>

</body>

</html>